@font-face {
  font-family: 'donknow yet-serif';
  src: url('./fonts/donknow%20yet-serif.otf') format('opentype');
}

body {
  font-family: 'donknow yet-serif';
  margin: 0;
  overflow: auto;
  scroll-snap-type: y mandatory; /* For smooth scrolling */
}

section {
  height: 100vh; /* Make each section take full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-1 {
  background-color: #bada55; /* A color for your first section (light gray) */
}

.black-section {
  background-color: black; /* The black page */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

p {
  font-size: 24px;
  color: #333;
}